.Signup .create1{
    width: 650px;
    margin-left: -50px;
   
}
.Signup .container .Signup-box{
    display: flex;
    width: 400px;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}
.Signup .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
    padding: 50px;
}
.Signup .container .Signup-box input{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    border-left: none;
    border-top: none;
    border-right: none;
    outline: none;
    cursor: pointer;

}
.Signup .container .Signup-box .account{
    padding: 15px;
    border: none;
    background-color: #DB4444;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
.Signup .container .Signup-box .siginupbutton{
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    gap: 10px;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    cursor: pointer;
}
.Signup .container .Signup-box .loginup{
    text-align: center;
    padding: 0px 10px 0px 0px;
    font-size: 18px;
}
.Signup .container .Signup-box .loginup span a{
    cursor: pointer;
    color: #000;
    font-size: 20px;
    font-weight: 900;
    padding-left: 10px;
    text-decoration: none;

}